<%= render 'menu' %>
<h1>Current Staff Listing</h1>

<%= render "layouts/header" %>
<br/>


  <table class="table table-stripped">
    <tr>
      <th class="col-lg-1 col-sm-1"></th>
      <th class="col-lg-3 col-sm-3">First Name</th>
      <th class="col-lg-3 col-sm-3">Last Name</th>
      <th class="col-lg-1 col-sm-1">Show</th>
      <th class="col-lg-1 col-sm-1">Edit</th>
      <th class="col-lg-1 col-sm-1">Destroy</th>
      <th class="col-lg-2 col-sm-2"></th>
    </tr>
    <% @staffs.each do |staff| %>  
     <tr>
       <td></td>
      <td><%= staff.fName %></td>
      <td><%= staff.lName %></td>
      <td><%= link_to 'Show', staff_path(staff) %></td>
	  <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
	  <td><%= link_to 'Destroy', staff_path(staff),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
       <td></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Home', controller: 'welcome' %>