<%= render 'menu' %>
<h1>Staff</h1>

<%= render "layouts/header" %>

<div class = "container">
  <div class ="row">
    <div class = "col-sm">
    </div>
    <div class = "col-sm">

<p>
  <strong>First Name:</strong>
  <%= @staff.fName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @staff.lName %>
</p>
<%= link_to 'Edit', edit_staff_path(@staff), class:"btn btn-primary" %> <br>
  <br>
<%= link_to 'Back', staffs_path, class:"btn btn-primary" %>

  		<div>
	<div>
<div>
