<%= render "layouts/header" %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', controller: 'welcome' %></li>
    </ul>
  </div>
</nav>

<%= form_with model: @student, local: true do |form| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this Student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class = "container">
	<div class ="row">
		 <div class = "col-sm">
		 </div>
	<div class = "col-sm">

  <p>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :fName %>
  </p>

  <p>
    <%= form.label :"Last Name" %><br>
    <%= form.text_field :lName %>
  </p>

  <p>
    <%= form.label :"Grade" %><br>
    <%= form.text_field :grade %>
  </p>

  <p>
    <%= form.label :"Homeroom Teacher" %><br>
    <%= form.text_field :homeroom_teacher %>
  </p>

  <p>
    <%= form.submit({:class => 'btn button-primary'}) %>
  </p>

<% end %>
		<div>
	<div>
<div>
