<%= render "layouts/header" %>
<h1>Listing Students</h1>
<br/>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', controller: 'welcome' %></li>
    </ul>
  </div>
</nav>

<table class="table table-stripped">
  <tr>
    <th class="col-lg-1 col-sm-1"></th>
    <th class="col-lg-2 col-sm-2">First Name</th>
    <th class="col-lg-2 col-sm-2">Last Name</th>
    <th class="col-lg-1 col-sm-1">Grade</th>
    <th class="col-lg-2 col-sm-2">Homeroom Teacher</th>
    <th class="col-lg-1 col-sm-1">Show</th>
    <th class="col-lg-1 col-sm-1">Edit</th>
    <th class="col-lg-1 col-sm-1">Destroy</th>
    <th class="col-lg-1 col-sm-1"></th>
  </tr>
  <% @students.each do |student| %>
  <tr>
    <td></td>
    <td><%= student.fName %></td>
    <td><%= student.lName %></td>
    <td><%= student.grade %></td>
    <td><%= student.homeroom_teacher %></td>
    <td><%= link_to 'Show', student_path(student) %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student_path(student),
                method: :delete,
                data: {confirm: 'Are you sure?'} %></td>
    <td></td>
  </tr>
  <% end %>
</table>


<h1>Listing Students</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.fName %></td>
      <td><%= student.lName %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
	  <td><%= link_to 'Edit', edit_student_path(student) %></td>
	  <td><%= link_to 'Destroy', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Home', controller: 'welcome' %>
