<% provide(:title, 'Show Student') %>
<%= render 'menu' %>
<h1 align="center">Student Details</h1>
<br/>
<%= render "layouts/header" %>

<div class = "container">
  <div class ="row">
    <div class = "col-lg-3 col-sm-1"></div>
    <div class = "col-lg-6 col-sm-10">
      <p>
        <strong>First Name:</strong>
        <%= @student.fName %>
      </p>
      <p>
        <strong>Last Name:</strong>
        <%= @student.lName %>
      </p>
      <p>
        <strong>Grade:</strong>
        <%= @student.grade %>
      </p>
      <p>
        <strong>Teacher:</strong>
        <%= @staff.lName %>, <%= @staff.fName %>
      </p>
      <br/>
      <%= link_to 'Edit', edit_student_path(@student), class:"btn btn-primary" %>
      <%= link_to 'Back', students_path, class:"btn btn-primary" %>
    </div>
    <div class = "col-lg-3 col-sm-1"></div>
  </div>
</div>
