<%= render 'menu' %>
<h1>The following Student was Added:</h1>

<%= render "layouts/header" %>

<div class = "container">
  <div class ="row">
    <div class = "col-sm">
    </div>
    <div class = "col-sm">
      
<p>
  <strong>First Name:</strong>
  <%= @student.fName %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @student.lName %>
</p>

      <p>
        <strong>Grade:</strong>
        <%= @student.grade %>
      </p>

      <p>
        <strong>Homeroom Teacher:</strong>
        <%= @student.homeroom_teacher %>
        </p>
<%= link_to 'Edit', edit_student_path(@student), class:"btn btn-primary" %> <br>
  <br></br>
<%= link_to 'Back', students_path, class:"btn btn-primary" %><br>
  
</br>

  </div>
    </div>
      </div>
        


    

