
<%= form_with model: @behavior, local: true do |form| %>
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Behavior Event
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Basic Info</h3>
                                    <div >
                                        <div class="form-group">
                                            <label>Select Student:</label>
                                            <%= form.select :student_id, Student.all.collect { |s| [s.full_name_last, s.id] }, {}, {required: 'true', autofocus: 'false', class: 'form-control selectpicker'} %>
                                            <p class="help-block">Select the student involved.</p>
                                        </div>
                                        <div class="form-group">
                                            <%= form.label :"Date: " %>
                                            <%= date_select("behavior", "event_date", selected: Date.today, class:'selectpicker')%>
                                        </div>
                                        <div class="form-group">
                                            <%= form.label :"Time: " %>
                                            <%= time_select 'behavior', 'event_time', {ampm: true}, class:'selectpicker'%>
                                        </div>
                                        <div class="form-group">
                                            <%= form.label :"Location:" %>
                                            <%= form.text_field :location, class:'form-control' %>
                                        </div>
                                        <div class="form-group">
                                            <%= form.label :"Peers involved:" %>
                                            <%= form.text_field :peers_involved, class:'form-control' %>
                                        </div>
                                        <div class="form-group">
                                            <%= form.label :"Reffering staff: " %>
                                            <%= form.select :staff_id, Staff.all.collect { |s| [s.full_name_last, s.id] }, {}, {required: 'true', autofocus: 'false', class: 'form-control'} %>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <h3>Possible Motivation</h3>
                                    <div>
                                        <div class="form-group">
                                                <%= form.check_box(:get_peer_attention) %>
                                                <%= label_tag(:get_peer_attention, "Obtain peer attention") %> <br>

                                                <%= form.check_box(:get_adult_attention) %>
                                                <%= label_tag(:get_adult_attention, "Obtain adult attention") %> <br>

                                                <%= form.check_box(:get_items_activities) %>
                                                <%= label_tag(:get_items_activities, "Obtain items/activities") %> <br>

                                                <%= form.check_box(:avoid_task) %>
                                                <%= label_tag(:avoid_task, "Avoid task or activity") %> <br>

                                                <%= form.check_box(:avoid_peer) %>
                                                <%= label_tag(:avoid_peer, "Avoid peer") %> <br>

                                                <%= form.check_box(:avoid_adult) %>
                                                <%= label_tag(:avoid_adult, "Avoid adult") %> <br>
                                                <%= form.label :"Other:" %>
                                                <%= form.text_field :motivation, class: 'form-control' %>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Behavior Types
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Minor Problem Behaviors</h3>
                                <div>
                                    <div class="form-group">
                                        <%= form.check_box(:minor_language) %>
                                        <%= label_tag(:minor_language, "Inappropriate language") %> <br>
                                        <%= form.check_box(:minor_contact) %>
                                        <%= label_tag(:minor_contact, "Physical contact/aggression") %> <br>
                                        <%= form.check_box(:minor_defiance) %>
                                        <%= label_tag(:minor_defiance, "Defiance/non-compliance") %> <br>
                                        <%= form.check_box(:minor_disruption) %>
                                        <%= label_tag(:minor_disruption, "Disruption") %> <br>
                                        <%= form.check_box(:minor_property) %>
                                        <%= label_tag(:minor_property, "Property misuse") %> <br>
                                        <%= form.check_box(:minor_dress) %>
                                        <%= label_tag(:minor_dress, "Dress code violation") %> <br>
                                        <%= form.check_box(:minor_technology) %>
                                        <%= label_tag(:minor_technology, "Technology violation") %> <br>
                                        <%= form.check_box(:minor_tardy) %>
                                        <%= label_tag(:minor_tardy, "Tardy") %> <br>
                                    </div>
                                    <div class="form-group">
                                        <%= form.label :"Other:" %>
                                        <%= form.text_field :minor_other, class: 'form-control' %>
                                    </div>
                                </div>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                <h3>Major Problem Behaviors</h3>
                                <div>
                                    <div class="form-group">
                                        <%= form.check_box(:major_language) %>
                                        <%= label_tag(:major_language, "Abusive/Inappropriate language") %> <br>
                                        <%= form.check_box(:major_aggression) %>
                                        <%= label_tag(:major_aggression, "Fighting/aggression") %> <br>
                                        <%= form.check_box(:major_disrespect) %>
                                        <%= label_tag(:major_disrespect, "Disrespect/non-compliance") %> <br>
                                        <%= form.check_box(:major_habitual_disruption) %>
                                        <%= label_tag(:major_habitual_disruption, "Habitual disruption") %> <br>
                                        <%= form.check_box(:major_dishonesty) %>
                                        <%= label_tag(:major_dishonesty, "Lying/cheating") %> <br>
                                        <%= form.check_box(:major_harrassment) %>
                                        <%= label_tag(:major_harrassment, "Harrassment/bullying") %> <br>
                                        <%= form.check_box(:major_tardies) %>
                                        <%= label_tag(:major_tardies, "Repeated tardies") %> <br>
                                        <%= form.check_box(:major_vandalism) %>
                                        <%= label_tag(:major_vandalism, "Vandalism") %> <br>
                                        <%= form.check_box(:major_theft) %>
                                        <%= label_tag(:major_theft, "Theft") %> <br>
                                        <%= form.check_box(:major_dress_code) %>
                                        <%= label_tag(:major_dress_code, "Chronic dress code violation") %> <br>
                                        <%= form.check_box(:major_drugs) %>
                                        <%= label_tag(:major_drugs, "Drugs") %> <br>
                                        <%= form.check_box(:major_weapons) %>
                                        <%= label_tag(:major_weapons, "Weapons") %> <br>
                                    </div>
                                    <div class="form-group">
                                        <%= form.label :"Other:" %>
                                        <%= form.text_field :major_other, class:'form-control' %>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

          
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Comments
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                <div>
                                    <div class="form-group col-lg-4">
                                        <%= form.label :"Antecedent:" %> <br>
                                        <%= form.text_area :antecedent , class:'form-control', rows:'5', placeholder:'What happened before the event?'%>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <%= form.label :"Behavior:" %> <br>
                                        <%= form.text_area :behavior_description , class:'form-control', rows:'5', placeholder:'What did the student do?'%>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <%= form.label :"Due process:" %> <br>
                                        <%= form.text_area :due_process , class:'form-control', rows:'5', placeholder:'Were there other people involved? Get others perspectives if needed.'%>
                                    </div>
                                </div>
                                    
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Administrative Action
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-lg-4">
                                  <%= form.check_box(:admin_time_office) %>
                                  <%= label_tag(:admin_time_office, "Time in office") %> <br>
                                  <%= form.check_box(:admin_loss_privilege) %>
                                  <%= label_tag(:admin_loss_privilege, "Loss of privileges") %> <br>
                                  <%= form.check_box(:admin_conference_student) %>
                                  <%= label_tag(:admin_conference_student, "Conference with student") %> <br>
                                  <%= form.check_box(:admin_parent_contact) %>
                                  <%= label_tag(:admin_parent_contact, "Parent contact") %>
                                </div>
                                <div class="form-group col-lg-4">
                                  <%= form.check_box(:admin_detention) %>
                                  <%= label_tag(:admin_detention, "Time out/detention") %> <br>
                                  <%= form.check_box(:admin_service) %>
                                  <%= label_tag(:admin_service, "Restitution/community service") %> <br>
                                  <%= form.check_box(:admin_individual_instruction) %>
                                  <%= label_tag(:admin_individual_instruction, "Individualized instruction") %> <br>
                                  <%= form.check_box(:admin_counselor) %>
                                  <%= label_tag(:admin_counselor, "Counselor") %>
                                </div>
                                <div class="form-group col-lg-4">
                                  <%= form.check_box(:admin_in_school_suspension) %>
                                  <%= label_tag(:admin_in_school_suspension, "In-school suspension") %> <br>
                                  <%= form.check_box(:admin_suspension) %>
                                  <%= label_tag(:admin_suspension, "Out of school suspension") %> <br>
                                  <%= form.check_box(:admin_expulsion) %>
                                  <%= label_tag(:admin_expulsion, "Expulsion") %> <br>
                                  <%= form.label :"Other:" %>
                                  <%= form.text_field :admin_other, class: 'form-control' %>

                                </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <%= form.submit("Save Changes", class: 'btn button-primary')%>
            </div>
<% end %>