 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
 <script>
      $(document).ready( function () {
        $('#studentTable').DataTable();
        console.log("Document ready");
      } );
 </script>

 <div id="wrapper">

        <!-- Navigation -->
        

        <div id="" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>

                </div>
                <!-- /.col-lg-12 -->
            </div> 
            <!-- /.row -->
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Events By Location
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	String:<%= @eventsByDay %> <br>
                        	Student Count: <%= @highFlierCnt %> <br>
                        	High flier ids: <%= @highFliers.inspect %> <br>
                        	<% @highFliers.each do |s| %>
                        		Student ID: <%= s.student_id %> , 
                        		Name: <%= s.student_name%>,
                        		Count: <%= s.count %> <br>
                        	<% end %>
                            <div id="testChart"></div>
                            <%= line_chart Behavior.group_by_day(:event_date).count %>
                        </div>
                        <!-- /.panel-body -->
                    </div>                    
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Recent Events (Week)
                        </div>
                        <div>
                        	<table width="100%" class="table table-striped table-bordered table-hover table-condensed" id="recentEvents">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% @recentEvents.each do |behave| %> 
                                    <tr>
                                      <td><%= behave.student_name%></td>
                                      <td><%= behave.event_date %></td>
                                      <td><%= behave.readable_time %></td>
                                      <td><%= link_to 'Show', behavior_path(behave) %></td>
                                    </tr>
                                  <% end %>
                                </tbody>                               
                            </table>
                            <!-- /.table-responsive -->
                        	
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Events By Day
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id=""></div>
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Frequent Behaviors
	                    	<table width="100%" class="table table-striped table-bordered table-hover table-condensed" id="recentEvents">
                                <thead>
                                    <tr>
                                       <th># Events</th>
                                       <th>Name</th>
                                       <th>View</th>
                                    </tr>
                                </thead>

                                <tbody>
                                	
                                	<% @highFliers.each do |s| %> 
                                    <tr>
                                      <td><%= s.count %></td>
                                      <td><%= s.student_name %></td>
                                      <td><%= link_to 'View', student_path(s.student_id) %></td>
                                    </tr>
                                  <% end %>
                                </tbody>                               
                            </table>
                            <!-- /.table-responsive -->
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
     <script>
 	new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'testChart',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	    { year: '2008', value: 20 },
	    { year: '2009', value: 10 },
	    { year: '2010', value: 5 },
	    { year: '2011', value: 5 },
	    { year: '2012', value: 20 }
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'year',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Value']
	});
 </script>
    <!-- jQuery -->

	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    